
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to products, but only admins can write.
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'sudanscoutadmin@scout.com';
    }

    // Allow public read access to scout profiles, but only admins can write.
    match /scouts/{scoutId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'sudanscoutadmin@scout.com';
    }
  }
}
